# -----------------------------------------------------------------------------
# ENVIRONMENT VARIABLES FOR SERVER (EXPRESS)
# -----------------------------------------------------------------------------

# Database Connection (PostgreSQL)
# Ganti username, password, dan nama database sesuai dengan konfigurasi lokal Anda
DATABASE_URL="postgresql://postgres:password@localhost:5432/nextask_db"

# Server Port
PORT=3001

# CORS & Cookie Setting
# Diizinkan untuk menerima request dari URL frontend lokal
FRONTEND_URL="http://localhost:3000"

# Security
# Gunakan string acak yang kuat untuk JWT
JWT_SECRET="ganti_dengan_rahasia_jwt_anda_disini"
NODE_ENV="development"